table {
    width: 100%;
    border: 1px solid lightgray;
    table-layout: fixed;
}

.menu {
    padding-bottom: 10px;
}

th, td {
    text-align: left;
    padding: 4px 8px;
}

th {
    height: 45px;
    background-color: #04ac6c;
    width: 30%;
    color: #fff
}

/* 버튼을 감싸는 컨테이너 스타일 */
.button-container {
    margin-top: 10px; /* 버튼과 테이블 사이의 여백 조정 */
}
.add-bookmark-button{
    text-align: center; /* 가운데 정렬 */
}



thead, tfoot {
    border: 2px solid black;
}

.data-cell {
    border: 1px solid #ddd; /* 칸마다 border 추가 */
    padding: 8px; /* 패딩 추가*/
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Light grey color */
}

tbody tr:hover td {
    background-color: #bfbfbf; /* Dark grey color */
}
/* header는 hover해도 색깔 유지하게 */
thead tr:hover td {
    background-color: inherit;
}

.button-group {
    display: flex; /* Flexbox 사용 */
    /*margin: 5px;*/
    justify-content: center;
}

 a {
    margin-right: 10px; /* 첫 번째 버튼에 오른쪽 마진 적용 */
}

 input {
    margin-left: 10px; /* 두번째 번째 버튼에 왼쪽 마진 적용 */
}

.button {
    width: 40px;
    height: 25px;
    text-align: center;
}

.form-actions {
    text-align: center; /* 컨테이너의 텍스트 중앙 정렬. */
    margin-top: 20px; /* 상단 여백 추가 */
}

table tr:nth-child(even) {
    background-color: #f2f2f2; /* Light grey color */
}

table tr:hover td {
    background-color: #bfbfbf; /* Dark grey color */
}