.search-form {

    padding-top: 20px;
}
.search-field {

}
.search-button, .nearby-wipi-button {

    margin-right: 5px;
}
.menu {
    margin-bottom: 10px;
}
.menu a {

}

h1 {

}

/*form {*/
/*    padding-bottom: 10px;*/
/*}*/

table {
    border: 1px solid lightgray;
    width: 100%;
}
td {
    text-align: center; /* 가운데 정렬 */
    vertical-align: middle; /* 세로 가운데 정렬 */
    height: 50px;
}
th {
    height: 40px;
}

thead, tfoot {
    background-color: #04ac6c;
    color: #fff;
    border: 2px solid black;

}

.data-cell {
    border: 1px solid #ddd; /* 칸마다 border 추가 */
    padding: 8px; /* 패딩 추가*/
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Light grey color */
}

tbody tr:hover td {
    background-color: #bfbfbf; /* Dark grey color */
}
/* header는 hover해도 색깔 유지하게 */
thead tr:hover td {
    background-color: inherit;
}
.button-group {
    display: flex; /* Flexbox 사용 */
    /*margin: 5px;*/
    justify-content: space-evenly;
}

.button {
    width: 60px;
    height: 30px;
    margin-top: 10px;
}